.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.container button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: #0056b3;
}

.container button.deleteButton {
  background-color: #ff0000;
  position: absolute;
  bottom: 20px;
}

.container button.deleteButton:hover {
  background-color: #cc0000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent p {
  margin-bottom: 20px;
}

.modalContent button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modalContent button:hover {
  background-color: #0056b3;
}

